body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,rgb(255, 209, 124),rgb(255, 255, 109));
  }
  .jumbotron {
    background-color:rgb(197, 43, 43);
    color: #ffffff;
  }

  @media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }

    .row {
        display: -ms-flexbox; 
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      
      .column {
        -ms-flex: 25%; 
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column .card img {
  
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
  
      
  
  @media screen and (max-width: 800px) {
    .column {
      
      max-width: 50%;
      -ms-flex: 50%;
      flex: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      
      max-width: 100%;
      -ms-flex: 100%;
      flex: 100%;
    }
  }

  
  

  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .navbar {
        background-image: linear-gradient(to left,lightyellow,rgb(243, 174, 46) );
        font-family: fantasy;
        color: bisque;
    }

    #contact {
        background-image: linear-gradient(to left,rgb(184, 84, 184), rgb(247, 119, 140));
    }
    #menu{

        background-image: linear-gradient(rgb(134, 60, 134,rgb(77, 33, 77)));
    }